@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* colors  */
  --blue-color: #2596be;
  --white: #fff;
  --light-grey: #f5f5f5;
  --footer-dark-bg: #353535;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

/* navbar css  */

#top-header {
  height: 100px;
  background-color: var(--light-grey);
  /* border: 2px solid black; */
  box-shadow: 5px 5px 5px var(--footer-dark-bg);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
  position: sticky;
  top: 0;
}

.logo-top a img {
  width: 300px;
}

.menu-bar {
  /* background-color: var(--blue-color); */
  margin-right: 20px;
  z-index: 999;
}

.menu-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;
  
}

.menu-bar ul li {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  text-align: center;

  transition: all 0.3s ease-in-out;
}

.menu-bar ul li a {
  text-decoration: none;
  color: black;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}

.menu-bar ul li a:hover {
  color: var(--blue-color);
}

.submenu-1 {
  display: none;
  transition: all 1s ease-in-out;

  z-index: 999;
  /* width: auto; */
}
.submenu-1 ul li a{
  font-size: 1rem;
}

.menu-bar ul li:hover .submenu-1 {
  display: block;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  position: absolute;
  margin-top: 10px;
  /* margin-left: -50px; */
  transform: translatex(0%);
  /* width: 250px; */
  width: auto;
}

.menu-bar ul li:hover .submenu-1 ul {
  display: block;
  margin: 5px;
}
.submenu-1 ul li:hover{

  background-color: #2596be;
  color: black;
}
.submenu-1 ul li a:hover{
  color: black;
}

/* sub menu css  */
.submenu-2 {
  display: none;
  z-index: 999;
}
.submenu-2 ul li a{
  font-size: 0.9rem;
}

.hover-me:hover .submenu-2 {
  display: block;
  background-color: lightgray;

  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  /* border-top: 0px; */
  /* border-left: 1px solid black; */
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  /* margin-left: 200px; */
  transform: translatex(88%);
  width: 230px;
  /* padding: 5px; */
}

.submenu-3 {
  display: none;
  z-index: 999;
}
.submenu-3 ul li a{
  font-size: 0.9rem;
}

.hover-me-1:hover .submenu-3 {
  /* display: block;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;

  position: absolute;
  /* top: 10px; */
  /* margin-top: -15px; */
  /* margin-left: 200px; */
  /* transform: translateX(120%); */

  width: 150px;
  /* width: auto;
  padding: 5px; */

  display: block;
  background-color: lightgray;

  position: absolute;
  /* top: 0px; */
  left: 0px;
  border: 1px solid black;
  /* border-left: 1px solid black; */
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  margin-top: -33px;
  /* transform: translatex(100%); */
  margin-left: 200px;
  /* width: 230px; */
  /* padding: 5px; */
}

.burger {
  display: none;
}

@media (max-width:1100px) {
  .burger {
      display: block;
      margin-right: 10px;
  }

  .menu-bar {
      display: none;
  }

  .logo-top a img {
      width: 50%;
  }

  .menu-bar ul{
      flex-direction: column;
  }
  .nav-active {
      display: block;
      position: absolute;
      top: 100px;
      background-color: var(--light-grey);
      width: 100%;
  }
  .menu-bar ul li:hover .submenu-1{
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin-top: 0;
      margin-left: 0;
      align-items: center;
  }
  .hover-me:hover .submenu-2 {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin-left: 0;
      margin-top: 0;
      transform: translatex(0%);
  }
  .hover-me-1:hover .submenu-3{
      display: block;
      position: relative;
      top: 0;
      left: auto;
      right: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      
  }
}
/* navbar css end  */


/* slider css  */
.slider-container {
  margin: 0px 0px;
  position: relative;
  width: 100%;
  height: 80vh;

  /* box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.75); */
}
.slid-img {
  display: none;

  width: 100%;
  height: 100%;

}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: auto;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  user-select: none;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (max-width:600px){
  .slider-container{
      height: 40vh;
  }
}
/* slider css end  */

/* home page shortlink to about page  css*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-aboutus-container{
  margin: 50px 0px;
  width: 100%;
  font-family: "Poppins", sans-serif;

  overflow: hidden;

  background: rgb(214,214,214);
background: linear-gradient(9deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
}
.sub-home-about{
  width: 50%;
}
.aboutus-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-content{
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  flex-direction: column;
  justify-content: space-evenly;
}
.aboutus-content h1{
  font-family: "Poppins", sans-serif;

  padding: 10px;
  padding-bottom: auto;
  padding-top: auto;
  font-weight: 600;
  font-size: 2rem;
  margin: auto 0px;
  text-decoration: underline;
}
.aboutus-content p{
  font-family: "Poppins", sans-serif;
  
  padding: 10px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
}
.btn{
  margin: 10px;
  width: 150px;
  height: 50px;
  background-color: #2596be;
  color: white;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;

  padding: 10px;
  transition: all 0.4s ease;
}
.btn:hover{
  box-shadow: 1px 1px 5px 2px black;
}
.btn a{
  padding: 10px;
  text-decoration: none;
  color: white;

  font-weight: 400;
  font-size: 1rem;

  transition: all 0.4s ease;
}
.btn a:hover{
  color: black;
}

@media (max-width: 900.33333px){
  .flex{
    flex-direction: column;
  }
  .sub-home-about{
    width: 95%;
    margin-left: 0px;
  }
  .aboutus-content h1{
    font-size: 1.5rem;
    text-align: center;
  }
  .aboutus-content p{
    text-align: center;
  }
}


/* home page shortlink to about page  css*/

/* <!-- mission vission and persons behinf section home  css start */
.mvp-container{
  margin: 30px auto;
  width: 100%;
  /* height: 400px; */
  justify-content: space-around;

  overflow: hidden;
  /* background-color: white; */
}
.mvp-sub{
  margin: 20px 0px;
  width: 30%;
  /* height: 500px; */
  border-radius: 10px;
  

  flex-direction: column;
  /* border: 1px  solid black; */

  transition: all 0.4s ease;
  background-color: rgb(221, 218, 218);
}
.mvp-sub:hover{
  -webkit-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.75);

  background: rgb(214,214,214);
background: linear-gradient(9deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);

}
.mvp-sub .mvp-image{
  width: 100%;
  height: 250px;

  overflow: hidden;
}
.mvp-sub .mvp-image img{
  width: 100%;
  height: 250px;

  object-fit: cover;
  border-radius: 5px;

  transition: transform .2s; /* Animation */
}
.mvp-sub .mvp-image img:hover{
  object-fit: cover;
  border-radius: 5px;
  transform: scale(1.1);
}
.mvp-sub .mvp-content{
  padding: 5px;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;


  text-align: center;
}
.mvp-sub .mvp-content h1{
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline;
  
  letter-spacing: 1px;
}
.mvp-sub .mvp-content p{
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  
  letter-spacing: 0.5px;
}
@media (max-width: 900px){
  .mvp-sub{
    width: 95%;
  }

}
/* <!-- mission vission and persons behinf section home  css end */

/* <!-- pts section css  start  --> */
.pts-section{
  background: rgb(214,214,214);
  background: linear-gradient(9deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
  width: 100%;
  margin: 20px 0px;

  overflow: hidden;
}
.pts-sub{
  width: 50%;
  overflow: hidden;
}
.pts-sub img{
  width: 100%;
  overflow: hidden;
}
.quality-secton{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  overflow: hidden;

}
.pts-quality{
  width: 250px;
  margin: 10px;
  padding: 10px;
  /* border: 1px solid black; */

  border-radius: 5px;

  justify-content: space-between;
  background-color: #fff;

  transition: all 0.4s ease;
}
.pts-about{
  text-align: center;
}
@media (max-width: 900.9999px){
  .pts-quality{
    flex-direction: row;
  }
  .pts-sub{
    width: 95%;
  }
}
/* <!-- pts section css end  --> */


/* footer css start  */
#footer{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: baseline;

    /* background: rgb(70,70,70);
    background: linear-gradient(0deg, rgba(70,70,70,1) 0%, rgba(98,98,98,1) 100%); */

    background-color: #353535 !important;
}
.footer-sub{
    width: 23%;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;

    transition: all 0.4s ease;
}
.content-footer i{
    margin: 10px;
    margin-left: 0px;
    font-size: 1.2rem
}
.footer-socials i{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.4rem;

    transition: all 0.4s ease;
}
.footer-socials i:hover{
    color: #00b4d8 !important;
    background-color: white;
}
.footer-heading h1{
    padding: 10px 0px;

    font-family: "poppins", sans-serif;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
}
.content-footer{
    font-family: "poppins", sans-serif;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;

}
.footer-2-link i{
    font-size: 0.8rem;
}
.footer-2-link a{
    color: #ffffff;
    text-decoration: none;

    transition: all 0.4s ease-in-out;
}
.footer-2-link a:hover{
    color: #00b4d8 !important;
    letter-spacing: 2px;
}
.footer-section-2{
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}
@media (max-width: 900.33333px){
    .footer-sub{
        width: 90%;
        margin: 0px auto;
    }
    #footer{
      flex-direction: column;
    }
}

/* footer css end  */

/* --------------------------------------------------------------------------------------------------------- */
/* about us css start  */
#about-container{
  width: 100%;

  background: linear-gradient(9deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
}
.about-sub-section{
  width: 50%;
  height: 100%;
}
.about-content{
  flex-direction: column;
  align-items: flex-start;

  padding: 0px 10px;
}
.about-content h1{
  padding: 10px 0px;
}
.about-content p{
  padding: 10px 0px;
}
.about-image{
  height: 500px;
}
.about-image img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.about-show-section{
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.tech-about{
  padding: 5px;
  margin: 5px;
  
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;

}
@media (max-width: 900.33333px){
  .about-sub-section{
      width: 95%;
      margin: 10px auto;
  }
  .about-container{
      height: auto;
  }
  .about-show-section{
      flex-direction: row;
  }

}

/* mission and vision about us section css start */
.mission-vision-container{
  width: 100%;
  margin: 40px 0px;

  background: linear-gradient(9deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
}
.sub-mission-vision{
  width: 50%;
  padding: 50px;
}
@media (max-width: 900.3333px){
  .sub-mission-vision{
      width: 90%;
      padding: 30px;
  }
}
/* mission and vision about us section css end  */


/* about us css start  */

