*{
    --primary-color: #3498db;
    --primary-2: rgb(216, 232, 245);
}
body{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    background-color: var(--primary-2);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo img{
    width: 50%;
    height: auto;
}
nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px auto;
  }
.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-links li {
    margin-right: 20px;
    padding: 5px;
  }
  .nav-links li a {
    color: #000000;
    text-decoration: none;
  }
  .nav-links li a:active {
    color: var(--primary-color);
    
    /* text-decoration: underline; */
  }
  .nav-links li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  
  /* media queries  */
  @media screen and (max-width: 768px){
    .nav-links{
      display: none;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 100%;
      left: 0px;
      text-align: center;
      background-color: var(--primary-2);
      /* transform: translateY(-100%); */
    }
    .nav-links.active{
      display: flex;
      z-index: 11;
    }
    .burger{
      display: block;
      cursor: pointer;
    }
    .burger div {
        width: 25px;
        height: 3px;
        background-color: #000000;
        margin: 5px;
        transition: all 0.3s ease;
      }

}